<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Edit Note
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input value="{{title}}" style="font-weight: bold;" [(ngModel)]="title"></ion-input>
    </ion-item>
    <!-- Textarea with custom number of rows and cols -->
    <ion-item>
        <ion-textarea rows="6" cols="20" value="{{note}}" [(ngModel)]="note"></ion-textarea>
    </ion-item>
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="saveNote()">Save</ion-button>
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge (click)="deleteNote()">
        <ion-fab-button color="dark">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>