<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Edit Income / Expense
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label>Select Type</ion-label>
            <ion-select name="type" [(ngModel)]="type">
              <ion-select-option>Income</ion-select-option>
              <ion-select-option selected>Expense</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Amount(₹)<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="number" name="amount" [(ngModel)]="amount"></ion-input>
          </ion-item>
          
        <ion-item>
            <ion-label position="stacked">Comments<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" name="comments" [(ngModel)]="comments"></ion-input>
          </ion-item>
          
          <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="saveRecord()">Save Record</ion-button>
      </div>
      </ion-list>
    </form>
  </ion-content>